<settings>
    <setting propertyKey="@Properties.showBattery" title="@Strings.SettingsShowBattery">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.showDate" title="@Strings.SettingsShowDate">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.showDayOfWeek" title="@Strings.SettingsShowDayOfWeek">
        <settingConfig type="boolean" required="true"/>
    </setting>
</settings>